<body>

<div class="login">
  <h1>Willkommen zurück</h1>
</div>

<div class="anmelden-form">
  <form action="">
    <label for="mail">
      E-Mail:
    </label>
    <input type="text"
           id="mail"
           name="mail"
           placeholder="E-Mail" required>

    <label for="password">
      Passwort:
    </label>
    <input type="password"
           id="password"
           name="password"
           placeholder="Passwort" required>

    <div class="enter-button">
      <button type="button" onclick="solve()">Anmelden</button>
    </div>
  </form>
</div>

</body>
