<h1 class="title">Join Buddy Up!</h1>

<div class="register-form">
      <form class="row g-3 needs-validation" [formGroup]="userForm">
            <div class="col-md-4">
                <label class="form-label">First name</label>
                  <div class="text-danger" *ngIf="userForm.controls['firstName'].invalid && (isFormSubmitted || userForm.controls['firstName'].touched || userForm.controls['firstName'].dirty)">
                      <span *ngIf="userForm.controls['firstName'].errors?.['required']">This is required</span>
                  </div>
                <input type="text" class="form-control" formControlName="firstName">
            </div>
            <div class="col-md-4">
                <label class="form-label">Last name</label>
                <div class="text-danger" *ngIf="userForm.controls['lastName'].invalid && (userForm.controls['lastName'].touched || userForm.controls['lastName'].dirty)">
                    <span *ngIf="userForm.controls['lastName'].errors?.['required']">This is required</span>
                    <span *ngIf="userForm.controls['lastName'].errors?.['minlength']">Please enter more than 2 characters</span>
                </div>
                <input type="text" class="form-control" formControlName="lastName">
            </div>
            <div class="col-md-4">
                  <label class="form-label">Username</label>
                  <div class="text-danger" *ngIf="userForm.controls['userName'].invalid && (userForm.controls['userName'].touched || userForm.controls['userName'].dirty)">
                      <span *ngIf="userForm.controls['userName'].errors?.['required']">This is required</span>
                      <span *ngIf="userForm.controls['username'].errors?.['minlength']">Please enter more than 2 characters</span>
                  </div>
                  <div class="input-group has-validation">
                      <input type="text" class="form-control" formControlName="userName">
                  </div>
            </div>
          <div class="col-md-4">
            <label class="form-label">Email</label>
            <div class="text-danger" *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].touched || userForm.controls['email'].dirty)">
                <span *ngIf="userForm.controls['email'].errors?.['required']">This is required</span>
                <span *ngIf="userForm.controls['email'].errors?.['email']">This email format is not valid</span>
            </div>
            <div class="input-group has-validation">
                <input type="text" class="form-control" formControlName="email">
            </div>
        </div>
          <div class="col-md-6">
              <label class="form-label">City</label>
              <div class="text-danger" *ngIf="userForm.controls['city'].invalid && (userForm.controls['city'].touched || userForm.controls['city'].dirty)">
                  <span *ngIf="userForm.controls['city'].errors?.['required']">This is required</span>
                  <span *ngIf="userForm.controls['city'].errors?.['minlength']">Please enter more than 2 characters</span>
              </div>
              <input type="text" class="form-control" formControlName="city">
          </div>
          <div class="col-md-3">
              <label class="form-label">State</label>
              <select class="form-select" formControlName="state">
                  <option selected disabled value="">Choose...</option>
                  <option>...</option>
              </select>
          </div>
          <div class="col-md-3">
              <label class="form-label">Zip</label>
              <input type="text" class="form-control" formControlName="zipcode">
          </div>
          <div class="col-12">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" formControlName="isAgree">
                  <label class="form-check-label">
                      Agree to terms and conditions
                  </label>
              </div>
          </div>
          <div class="col-12">
              <button class="btn btn-primary" type="button" (click)="onSubmit()">Register</button>
          </div>
      </form>
</div>
